@layout EmptyLayout
@inject IUserService UserService
@inject ICommonService CommonService
@inject NavigationManager NavigationManager

<div class="container-main-page">
    <div class="container-element-block @_cssMainPage">
        <h3 class="text text-48 text-padding-10">
            Войдите, чтобы
            <br />
            попробовать
        </h3>
        <EditForm Model="_loginData" class="container-input">
             <InputText @bind-Value="_loginData.Email" class="text text-13 form-input" placeholder="Введите ваш e-mail адрес"/>
             <button type="submit"  class="container-element-block btn btn-accept" @onclick="@OnPagePassword"> Далее </button>
        </EditForm>
        <div class ="container-element-inline">
            <div class="text text-13 text-left">Войти с помощь:</div>
            <a href="#" class="social-link">
                <img src="/img/authorizepage/dating/vk.svg" alt="vk" class="social-icon"></a>
            <a href="#" class="social-link">
                <img src="/img/authorizepage/dating/google.svg" alt="google" class="social-icon"></a>
            <a href="#" class="social-link">
                <img src="/img/authorizepage/dating/telegram.svg" alt="telegram" class="social-icon"></a>
        </div>
        <div>
            <button class="btn btn-registation-start text text-19" @onclick="@OnCreatedProfileStart"> Регистрация Метинс </button>
        </div>
    </div>
</div>
<div class="container-main-page">
        <div class="@_cssPasswordPage">
            <h4 class="text text-48 text-padding-10">
                Вход в аккаунт 
                <br/>
                Метинс
            </h4>
            <a class="text-undecoration container-back" @onclick="OnMainPage" style="cursor: pointer;">
                <img class="arrow-left"  src="/img/authorizepage/box/arrow.svg" alt="arrow">
                <span class="text text-13 text-padding-10 text-undecoration">Назад</span>
            </a>
            <EditForm Model="_loginData" class="container-input">
                 <InputText @bind-Value="_loginData.Password" type="password" class="text text-13 form-input" placeholder="Введите пароль"/>
                 <button type="submit"  class="container-element-block btn btn-accept" @onclick="@LoginAsync"> Далее </button>
            </EditForm>
            <a href="#" class="container-change-password text text-13 text-undecoration">Забыли пароль?</a>
        </div>
</div>
<div class="container-main-page">
        <div class="@_cssCreatedProfileStart">
            <h4 class="text text-48 text-padding-10">Создание профиля
            </h4>
            <div class="text text-24 text-padding-10">Пройдите быструю регистрацию
            </div>
            <EditForm Model="_registerData" >
                <div class="container-element-inline container-profile-element-row">
                    <div class="text text-18 text-vertical-center">Я</div>
                    <div class="container-element-inline container-right">
                        <InputRadioGroup @bind-Value="@_registerData.Gender"class="container-element-inline form-input-radio">
                            <label class="container-element-inline @IsChecedRadioButton("Men")" for="radio_men"> 
                                <InputRadio Value="@("Men")" class="input-radio" id="radio_men"/>
                                <img class="input-radio-icon" src="img/authorizepage/form/man.svg" alt="man">
                                <span class="text text-16 text-margin-8 ">Мужчина</span>
                            </label>
                            <label class="container-element-inline @IsChecedRadioButton("Women")" for="radio_women"> 
                                <InputRadio Value="@("Women")" class="input-radio" id="radio_women"/>
                                <img class="input-radio-icon" src="img/authorizepage/form/woman.svg" alt="woman">
                                <span class="text text-16 text-margin-8 ">Женщина</span>
                            </label>
                        </InputRadioGroup>
                    </div>
                </div>
                <div class="container-element-inline container-right container-profile-element-row">
                    <div class="text text-18 text-vertical-center">Меня зовут</div>
                    <InputText type="text" placeholder="Как вас зовут?" class="container-input-name" @bind-Value="@_registerData.Name"/>
                </div>
                <div class="container-element-inline container-right container-profile-element-row">
                    <div class="text text-18 text-vertical-center">Email</div>
                    <InputText type="text" placeholder="Какая почта?" class="container-input-name container-right" @bind-Value="@_registerData.Email"/>
                </div>
                <div class="container-element-inline container-profile-element-row">
                    <div class="text text-18 text-vertical-center">Родился</div>
                    <div class="container-element-inline container-right">
                        <InputSelect @bind-Value="@_birthDay" class="form-select-day container-right text text-16">
                        @for(var i =1;i<=_daysInMonth;i++)
                        {
                            <option value="@i">@i</option>
                        }
                        </InputSelect>
                        <InputSelect  @bind-Value="@_birthMonth" class="form-select-month container-right text text-16">
                            <option value="1">Января</option>
                            <option value="2">Февраля</option>
                            <option value="3">Марта</option>
                            <option value="4">Апреля</option>
                            <option value="5">Мая</option>
                            <option value="6">Июня</option>
                            <option value="7">Июля</option>
                            <option value="8">Августа</option>
                            <option value="9">Сентября</option>
                            <option value="10">Октября</option>
                            <option value="11">Ноября</option>
                            <option value="12">Декабря</option>
                        </InputSelect>
                        <InputSelect  @bind-Value="@_birthYear" class="form-select-year container-right text text-16">
                        @for(var i =1900;i<=DateTime.Now.Year;i++)
                        {
                            <option value="@i">@i</option>
                        }
                        </InputSelect>                        
                    </div>
                </div>
                <div class="container-btn-register">
                    <button class="btn btn-register text text-18" @onclick="@OnCreatedProfileEnd"> Продолжить </button>
                </div>
                <div class=" container-element-inline ">
                    <a class="text text-24 container-center" @onclick="OnMainPage" style="cursor: pointer;">У меня уже есть аккаунт</a>
                </div>
            </EditForm>
        </div>
</div>
<div class="container-main-page">
    <div class="@_cssCreatedProfileEnd">
        <h4 class="text text-48 text-padding-10">Создание профиля
        </h4>
        <div class="text text-24 text-padding-10">это последний шаг!
        </div>
        <EditForm Model="_registerData" OnValidSubmit="@RegisterAsync">
            <div class="container-element-inline">
                <div class="container-input-file">
                    <input type="file" class="form-input-file">
                    <label for="file" class="container-element-block form-input-file-text">
                        <i class="container-element-inline">
                            <img class="" src="/img/authorizepage/form/arrowup.svg" alt="arrowup">
                            <i class="text text-16 text-margin-8">Выбрать</i>
                        </i>
                        <i class="text text-13 text-left">jpg, png не более 
                            <br />
                            10мб</i>
                    </label>
                </div>
                <div class="container-conditions container-element-block">
                    <div class="text text-16 text-left container-conditions-title">Загрузите фотографию профиля</div>
                    <div class="text text-13 text-left container-condition">условие 1</div>
                    <div class="text text-13 text-left container-condition">условие 2</div>
                    <div class="text text-13 text-left container-condition">условие 3</div>
                </div>
            </div>
            <div class="container-element-inline">
                <InputSelect  @bind-Value="@_registerData.CityId" class="form-input-city">
                    <option value="@Guid.NewGuid()" selected="selected">Выберите город</option>
                    @foreach(var city in _cities)
                    {
                        <option value="@city.CityId">@city.CityName</option>
                    }
                </InputSelect>
                <img class="marker" src="/img/authorizepage/form/marker.svg" alt="marker">
            </div>
            <InputText type="password" @bind-Value="@_registerData.Password" placeholder="Создайте пароль" class="form-input-password"/>
            <div class="text text-13 text-margin-8">не менее 8 символов и спец. знаки</div>
            <div>
                <button type="submit"  class="btn btn-registation-end text text-19"> Завершить и войти в Метинс </button>
            </div>
            <div class="text text-16 container-policy container-element-inline">Нажимая «Завершить и войти», вы принимаете пользовательское соглашение и политику конфиденциальности.</div>
        </EditForm>
    </div>
</div>