@layout EmptyLayout
@inject IUserService UserService
@inject ICommonService CommonService
@inject NavigationManager NavigationManager

<div class="container-main-page">
    <div class="container-element-block @_cssMainPage">
        <h3 class="text text-48 text-padding-10">
            Войдите, чтобы
            <br />
            попробовать
        </h3>
        <div class="container-input">
            <input type="email" placeholder="Введите ваш e-mail адрес" class="text text-13 form-input" @bind-value="@_loginData.Email" >
            <button type="submit"  class="container-element-block btn btn-accept" @onclick="@OnPagePassword"> Далее </button>
        </div>
        <div class ="container-element-inline">
            <div class="text text-13 text-left">Войти с помощь:</div>
            <a href="#" class="social-link">
                <img src="/img/authorizepage/dating/vk.svg" alt="vk" class="social-icon"></a>
            <a href="#" class="social-link">
                <img src="/img/authorizepage/dating/google.svg" alt="google" class="social-icon"></a>
            <a href="#" class="social-link">
                <img src="/img/authorizepage/dating/telegram.svg" alt="telegram" class="social-icon"></a>
        </div>
        <div>
            <button class="btn btn-registation-start text text-19" @onclick="@OnCreatedProfileStart"> Регистрация Метинс </button>
        </div>
    </div>
</div>
<div class="container-main-page">
        <div class="@_cssPasswordPage">
            <h4 class="text text-48 text-padding-10">
                Вход в аккаунт 
                <br/>
                Метинс
            </h4>
            <a class="text-undecoration container-back" @onclick="OnMainPage" style="cursor: pointer;">
                <img class="arrow-left"  src="/img/authorizepage/box/arrow.svg" alt="arrow">
                <span class="text text-13 text-padding-10 text-undecoration">Назад</span>
            </a>
            <div class="container-input">
                <input type="password" placeholder="Введите пароль" class="text text-13 form-input" @bind-value="_loginData.Password">
                <button type="submit" class="btn btn-accept" @onclick="@LoginAsync"> Далее </button>
            </div>
            <a href="#" class="container-change-password text text-13 text-undecoration">Забыли пароль?</a>
        </div>
</div>
<div class="container-main-page">
        <div class="@_cssCreatedProfileStart">
            <h4 class="text text-48 text-padding-10">Создание профиля
            </h4>
            <div class="text text-24 text-padding-10">Пройдите быструю регистрацию
            </div>
            <EditForm Model="@_registerData" >
                <div class="container-element-inline container-profile-element-row">
                    <div class="text text-18 text-vertical-center">Я</div>
                    <div class="container-element-inline container-right">
                        <label class="form-input-radio ">
                            <input name="radio" type="radio" class="input-radio">
                            <span class="container-element-inline container-input-radio"> 
                                <img class="input-radio-icon" src="/img/authorizepage/form/man.svg" alt="man">
                                <span class="text text-16 text-margin-8">Мужчина</span>
                            </span>
                        </label>
                        <label class="form-input-radio ">
                            <input name="radio" type="radio" class="input-radio">
                            <span class="container-element-inline container-input-radio"> 
                                <img class="input-radio-icon" src="/img/authorizepage/form/woman.svg" alt="woman">
                                <span class="text text-16 text-margin-8">Женщина</span>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="container-element-inline container-right container-profile-element-row">
                    <div class="text text-18 text-vertical-center">Меня зовут</div>
                    <input type="text" placeholder="Как вас зовут?" class="container-input-name" @bind-value="@_registerData.Name">
                </div>
                <div class="container-element-inline container-profile-element-row">
                    <div class="text text-18 text-vertical-center">Родился</div>
                    <div class="container-element-inline container-right">
                        <select class="form-select-day container-right text text-16">
                            <option>День</option>
                            <option>День</option>
                        </select>
                        <select class="form-select-month container-right text text-16">
                            <option>Месяц</option>
                        </select>
                        <select class="form-select-year container-right text text-16">
                            <option>Год</option>
                        </select>
                    </div>
                </div>
                <div class="container-btn-register">
                    <button class="btn btn-register text text-18" @onclick="@OnCreatedProfileEnd"> Продолжить </button>
                </div>
                <div class=" container-element-inline ">
                    <a class="text text-24 container-center" @onclick="OnMainPage" style="cursor: pointer;">У меня уже есть аккаунт</a>
                </div>
            </EditForm>
        </div>
</div>
<div class="container-main-page">
    <div class="@_cssCreatedProfileEnd">
        <h4 class="text text-48 text-padding-10">Создание профиля
        </h4>
        <div class="text text-24 text-padding-10">это последний шаг!
        </div>
        <form>
            <div class="container-element-inline">
                <div class="container-input-file">
                    <input type="file" class="form-input-file">
                    <label for="file" class="container-element-block form-input-file-text">
                        <i class="container-element-inline">
                            <img class="" src="/img/authorizepage/form/arrowup.svg" alt="arrowup">
                            <i class="text text-16 text-margin-8">Выбрать</i>
                        </i>
                        <i class="text text-13 text-left">jpg, png не более 
                            <br />
                            10мб</i>
                    </label>
                </div>
                <div class="container-conditions container-element-block">
                    <div class="text text-16 text-left container-conditions-title">Загрузите фотографию профиля</div>
                    <div class="text text-13 text-left container-condition">условие 1</div>
                    <div class="text text-13 text-left container-condition">условие 2</div>
                    <div class="text text-13 text-left container-condition">условие 3</div>
                </div>
            </div>
            <div class="container-element-inline">
                <input type="text" name="text" required placeholder="Укажите свое местоположение" class="form-input-city">
                <img class="marker" src="/img/authorizepage/form/marker.svg" alt="marker">
            </div>
            <input type="password" name="password" required placeholder="Создайте пароль" class="form-input-password">
            <div class="text text-13 text-margin-8">не менее 8 символов и спец. знаки</div>
            <div>
                <button type="submit"  class="btn btn-registation-end text text-19"> Завершить и войти в Метинс </button>
            </div>
            <div class="text text-16 container-policy container-element-inline">Нажимая «Завершить и войти», вы принимаете пользовательское соглашение и политику конфиденциальности.</div>
        </form>
    </div>
</div>